.title {
  padding: 10vh;
}
.text-warning {
  color: #f97300 !important;
}
.bg-warning {
  background-color: #f97300 !important;
}
.btn-warning {
  background-color: #f97300 !important;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-item .active {
  color: white;
}
.nav-item:hover {
  background-color: white;
}
.nav-item .active:hover {
  color: #fd7e14;
}
.header {
  background-image: url(/assets/images/baner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 600px;
}
.header .container {
  padding-top: 160px;
  padding-bottom: 220px;
}
.avatar {
  border-radius: 100%;
}
.col-about {
  border-right: 3px solid #14bbd8;
  width: auto !important;
  height: auto !important;
}

.team {
  margin: 4em 0;
  position: relative;
}
.team h1 {
  color: #f97300;
  margin: 2em;
}
.team .item {
  position: relative;
}
.team .des {
  background: #f97300;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 93%;
  transition: 0.3s ease-in-out;
}
.team .item img {
  transition: transform 0.3s ease-in-out;
}

.team .item:hover img {
  transform: rotate(15deg) scale(1.1);
}
